@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}

body{ font:12px Arial, Helvetica, sans-serif; }

.fl_left{float:left}
.fl_right{float:right}
.clear_fix{clear:both}
a{ text-decoration:none; color:#000}
a img {border: 0 none;}
li{list-style:none}
.bordernone{ border:none!important}
.clear{clear:both;}

form label {
  cursor: pointer;
  display: block;
  line-height: 18px;
  margin: 10px 0 1px;
}
.spinner{
  background: url("/assets/ajax-loader.gif") no-repeat;
  padding-left: 16px;
  padding-right: 16px;
  display:none;
}
body input, body select{
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}
#thoughts.acc-content textarea, #teaser.acc-content textarea {
  height: 250px;
  width: 600px;
}
/*Main Wrapper*/
#main-wrappper{
	width:100%;
	}
	#main-holder-1{
		width:974px;
		margin:0 auto;d
	}

/*Header Styles*/
#header{
		width:974px;
		height:210px;      
		margin:0 auto;
		background:url(/assets/project/innovation_1.jpg) no-repeat 100% 40px;
		}
	#logo{
		width:551px;
		height:133px;
		display:block;
		margin-top:25px;
		}
	#top_menu{
		width:100%;
		height:30px;
		}
		#top_menu ul{ float:right}
		#top_menu ul li{ float:left; display:inline; line-height:30px; height:30px; padding:0 18px}
		#top_menu ul li a img{margin-top:5px;}

#main_menu{
		width:972px;
		height:30px;
		}
#main_menu ul li{
			height:30px;
			float:left;
			display:inline;
			padding:5px 6px;
			}
			
#main_menu ul li a{ font-size:14px;}

#content-area{
		width:100%;
		background:url(/assets/project/sub-header-bg.jpg) repeat-x;
		padding-top:35px
		}
	#content-wrapper{
			width:960px;
			margin:0 auto;
			padding-bottom:40px
			}
			#content-wrapper h2.heading{ font:32px Arial, Helvetica, sans-serif; color:#20a0e9;}

#inner-content-wrapper{
		width:100%;
		height:auto;
		padding-top:20px
	}
/*Left Styles*/

#left-colmmn-wrapper{
		width:673px;
		height:auto
		}
	#left-colmmn-wrapper span.project-title{ font:20px Arial, Helvetica, sans-serif;}


/* -- Quick and dirty patch from Alex -- */

	#tab-menu {
			width:686px;
			float:left;
			position:absolute;
			top: 375px;
			/padding-top:18px
	}
  #tab-menu li a.active { margin-top:1px; }

/*** FIX FOR CHROME ***/
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
	#tab-menu{padding-top:20px}
}
*/

/* -----------              ---------- */

/*** END FIX FOR CHROME ***/
/*	#tab-menu ul li{ float:left; margin-right:8px}
	#tab-menu ul li a{text-align:center; padding:10px 0 10px 12px; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;}
	#tab-menu ul li a span{ padding:10px 12px 10px 0;}
	#tab-menu ul li a:hover span,#tab-menu ul li.active a span{background:url(/assets/project/tab-right.gif) no-repeat right top;}
	#tab-menu ul li a:hover,#tab-menu ul li.active a{ background:url(/assets/project/tab-left.gif) no-repeat left top;}*/
	
	#tab-menu ul li{ float:left; margin-right:8px}
	#tab-menu ul li a{text-align:center; display:block; width:110px;font:12px/38px "Trebuchet MS", Arial, Helvetica, sans-serif; padding-left:5px;}
	#tab-menu ul li a span{ width:110px; height:35px;display:block}
	#tab-menu ul li a:hover span,#tab-menu ul li a.active span{background:url(/assets/project/tab-right.gif) no-repeat right top;}
	#tab-menu ul li a.active, #tab-menu ul li a:hover{ background:url(/assets/project/tab-left.gif) no-repeat left top;}
	
  #tab-panes{
    padding-top:20px;
  }
#right-column-wrapper{
		width:285px;
		height:auto;
		border:1px solid #cfe5f0;
		background:#f5fbff;
		}
		
		#right-column-wrapper #menu_vert{
			width:100%;
			border-bottom:1px solid #dce0e4;
		}
		#right-column-wrapper #menu_vert ul{ width:255px;margin-left:15px;}
		#right-column-wrapper #menu_vert li{
			width:100%;
			line-height:38px;
			border-bottom:dashed 1px #999999;
			}
		#right-column-wrapper #menu_vert li a{ display:block; color:#2da6ea; font:12px/38px "Trebuchet MS", Arial, Helvetica, sans-serif}
    #right-column-wrapper #menu_vert ul ul{margin: 0;}
      #right-column-wrapper #menu_vert ul ul li{
        border-top:dashed 1px #999999;
        border-bottom:dashed 0px #999999;
      }
      #right-column-wrapper #menu_vert ul ul li a {
        padding-left:30px;
        background-image: url("/assets/arrow.png");
        background-position: 15px 14px;
        background-repeat: no-repeat;
      }


#contact-info{
	width:100%;
	height:auto;
	background:url(/assets/project/contact-info-bg.jpg) repeat-y;
	}
	.avatar-block{
		width:284px;
		height:184px;
		background:url(/assets/project/avatar-bg.jpg) no-repeat;
		}
		.avatar-block div{ width:138px; height:138px; float:left; margin:23px 0 0 35px}
		
		.contact-information{
		width:220px;
		margin:0 auto;
		}
		.contact-information h3{ font-size:20px; height:30px;}
		.contact-information ul li{ width:100%; height:20px; font:11px/20px tahoma, Arial, Helvetica, sans-serif;}
		.about{ background:#f1faff; width:93%; padding:15px 10px; margin-top:10px} 
		.about span{ font-size:16px; color:#2da6ea; float:left; margin-bottom:10px; width:100%;}
		.about p{ font:11px/16px tahoma, Arial, Helvetica, sans-serif;}
/*footer*/

#footer-wrapper{
	width:100%;
	height:220px;
	background:url(/assets/project/footer_bg.jpg) repeat-x;
	}
	#footer{
			width:974px;
			height:180px;
			margin:0 auto;
			}
	.footer-blocks{
		width:190px;
		height:180px;
		}
	.footer-blocks h3{
			font-size:13px;
			padding:12px 0;
			}
		.footer-blocks ul li{
			width:100%;
			height:25px;
			line-height:25px;
			}	
			.footer-blocks ul li a{
				color:#5d5e5c;
			}

		.copy-right{
			width:974px;
			height:60px;
			border-top:1px solid #d9d9d9;
			line-height:60px;
			color:#545454
			}