- if visible_children(@page).present?
  #menu_vert{:class => 'page_links'}
    %ul
      %li
        = link_to t('overview',:scope => 'navigations.vertical_menu'), refinery.url_for(@page.parent ? @page.parent.url : @page.url)
        - visible_children(@page).each do|subpage|
          %li= link_to subpage.title, refinery.url_for(subpage.url)
