#subpage_links
  %ul
    %li
      =link_to "Subpages", "#", :class => "mnu-parent"
      %ul{:class => 'mnu-child'}
        - if @page.children.present?
          -@page.children.each do|subpage|
            %li=link_to subpage.title, main_app.url_for(subpage.url)
        - else
          %p= 'no link'