<div class="category" style="margin-bottom: 25px;">
  <%= collection_select("topic_ids", "", Category.all, :id, :title, {:prompt => true, :selected => category.id}, {:name => "categories[][id]"}) %>
  <%= link_to "Delete", "#", :class => "delete-new-category"%>
</div>