<% content_for :javascripts do %>
  <% javascript_include_tag('jquery', 'categories') %>
<% end %>
<h1>My Categories</h1>
<%= form_for :category, :url => main_app.refinery_categories_path(current_refinery_user) do |f| %>
  <%= render :partial => "categories" %>
  <input type="hidden" value="<%= params[:id] %>" name="id"/>
  <%= f.submit "Save", :class => "submit" %>
  <!--:style => "#{"display:none" if @categories.size ==0}" -->
<% end %>