- if current_user && (current_user.admin? || current_user == @project.creator)
  %a.uiButton.fl_right.edit{:href => "#", :style => "display:none"} Edit
  %a.uiButton.fl_right.cancel{:href => "#", :style => "display:none"} Cancel
  %a.uiButton.fl_right.save{:href => "#", :style => "display:none"} Save
  %a.spinner &nbsp;