- if current_user && current_user.can_edit_project?(@project)
  %a.uiButton.fl_right.edit{:href => "#", :style => "display:none"}
    = t('general_ui.edit')
  %a.uiButton.fl_right.cancel{:href => "#", :style => "display:none"}
    = t('general_ui.cancel')
  %a.uiButton.fl_right.save{:href => "#", :style => "display:none"}
    = t('general_ui.save')
  %a.spinner &nbsp;