<span>
  <% roles = ["All"] + Refinery::Role.all_roles %>
  <% roles = roles.map{|x| [x, refinery.admin_users_path(:role => x)]} %>
  Filter: <%= select_tag :role, options_for_select(roles, [params[:role], refinery.admin_users_path(:role => params[:role])]), {:class => "role-filter"} %>
</span>
<ul>
  <%= render :partial => "user", :collection => @users %>
</ul>
<%= will_paginate @users %>
<script type="text/javascript">
  $(".role-filter").bind("change", function(){
    window.location = $(this).val();
  });
</script>