body {
  margin: 0px;
}
#page, #site_bar_content, footer, header {
  width: 990px;
  margin: 0px auto;
}
#body_content_left {
  float: left;
  width: 700px;
  .inner {
    padding-right: 10px;
  }
}
#body_content_right {
  float: right;
  width: 290px;
  .inner {
    padding-left: 10px;
  }
}
#body_content.no_body_content_left #body_content_right,
  #body_content.no_body_content_right #body_content_left {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.menu {
  ul {
    margin: 0px;
    padding: 0px;
  }
  li {
    padding: 0px;
    margin: 0px 9px 0px 0px;
    list-style: none;
    float: left;
    &.last {
      margin-right: 0px;
    }
    &.selected {
      > a {
        font-weight: bold;
      }
    }
  }
}

#menu_vert ul {
  margin: -75px 0 0 -20px;
  padding: 0;
  width: 300px;
  list-style: none;
  margin-bottom: 20px;
  ul {
    margin: 0;
    li {
      a {
      text-decoration: none;
      width: 240px;
      padding-left:40px;
      color: #b42723;
      font-size: 12px;
      background-image: image_url("arrow.png");
      background-position: 30px 14px;
      background-repeat: no-repeat;
      }
    }
  }
  li {
    margin: 0;
    a {
      text-decoration: none;
      float: left;
      width: 260px;
      padding-left: 20px;
      text-decoration: none;
      color: #b42723;
      font-size: 14px;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 10px;
      padding-top: 10px;
      &:hover {
        color: #111;
        text-decoration: underline;
      }
    }
  }
}

.page_not_live {
  border: 1px solid #A00027;
  color: #A00027;
  background: #FFB1B1;
  padding:3px 9px;
  font-weight:bold;
  width:auto;
}
#page {
  .form-actions {
    margin-top: 7px;
  }
}

input.input-text, textarea.wymeditor{
  width: 650px;
}