/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require style
 *= require button
 *= require tab-style
 *= require formatting
 *= require jquery_ui
*/

/* Message */

ul#conversation .head{
  margin-bottom: 15px;
}

ul#conversation .head .from{
  float:left;
  color: #222222;
  font-weight: bold;
}
ul#conversation .head .date{
  float:right;
  color: #AAAAAA;
}
ul#conversation .body{
  clear:both;
  margin-top: 30px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 15px;
}