/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require_tree . 
*/
/*body{background: #bce8ff url(body-bg.png) repeat-x;}*/
body{background: #eee;}
body, input {
  color: #444444;
  font-family: verdana, arial, helvetica, sans-serif;
/*  font: 60px/68px 'QikkiRegRegular', Arial, sans-serif;*/
/*  font: 60px/68px 'TeXGyreAdventorRegular', Arial, sans-serif;*/
/*  font: 60px/68px 'MyndraineRegular', Arial, sans-serif;*/
/*  font: 60px/68px 'ComfortaaRegular', Arial, sans-serif;*/
  letter-spacing: 0;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration:none;
  color:#444444;
}

a:hover {
  text-decoration:none;
  color:#8b1c26;
}

h1{ font-size: 18px; }

textarea{
  resize: none;
  width:400px;
  height:100px;
  color:#444444;
  font-size:14px;
  line-height:22px;
  text-align:justify;
}

input, a{outline:none;}

table td{
  padding:5px;
}

p.padding{
  padding:10px;
}

.hidden{ display:none;}

.notice {
  color: #009900;
  padding: 5px 10px 5px 10px;
  background: white;
  font-size:12px; }

.alert {
  padding: 5px 10px 5px 10px;
  background: white;
  color: #ff0000;
  font-size: 12px; }

.align_left{
  text-align:left !important;
}

.align_right{
  text-align:right !important;
}

/* overide jquery slider range background */
.ui-slider .ui-slider-range{
  background:none repeat scroll 0 0 #8b1c26;
}

.white { color:#ffffff; }
.white a { color:#ffffff; }
.white a:hover { color:#333333; }
.blue { color:#8b1c26; }
.dark_grey { color:#444444; }
.light_grey { color:#ffffff; }
.grey { color:#b5b5b5; }
.left { float:left; }
.right { float:right; }
.clearfloat { clear:both; }
.align_right { text-align:right; }
.align_left { text-align:left; }
.align_center { text-align:center; }

.red_color{color:#ff3c00;}
.green_color{color:#01ba17;}

a.red:hover{
  background:#ff3c00 url(ui-bg_glass_65_ff3c00_1x400.png) 50% 50% repeat-x !important;
}

a.green:hover{
  background:#01ba17 url(ui-bg_glass_65_01ba17_1x400.png) 50% 50% repeat-x !important;
}

a.bluebg:hover{
  background:#8b1c26 url(ui-bg_glass_65_8b1c26_1x400.png) 50% 50% repeat-x !important;
}

a.greybg{
  background:#e6e6e6 url(ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x !important;
}

input.nice_field{
  padding:10px;
  font-size:14px;
  border:1px solid #ffffff;
  width:200px;
  background:#ffffff;
}

.nice_btn{
  background:#ffffff;
  border:0px;
  padding:10px 20px 10px 20px;
  font-size:16px;
  border:1px solid #b5b5b5;
  color:#444444;
}

.nice_btn:hover{
  border:1px solid #5dbbd3;
  cursor:pointer;
  background:#8b1c26;
  color:#fff;
}

#middle_content {
  background: url(bottombg.png) no-repeat bottom left;
}

#left_container {
  width:680px;
/*  overflow:hidden;*/
  h1 {
    color:#8b1c26;
  }
}

h2 {
  color:#8b1c26;
  margin-bottom:10px;
  font-size: 16px;
}

#header{
  height: 240px;
  padding:10px 0 10px 0;
}

.actions {
  padding:10px 0 10px 0;
}

h2.blue_header{
  color:#E91C21;
  overflow:hidden;
  text-align:left;
  padding:5px 0 5px 0;
  border-bottom:1px solid #E91C21;
  font-size:16px;
  a{
    color:#E91C21;
  }
  a:hover{
    color:#ff4e00;
  }
  a.title_link{
    font-size:11px;
    padding:2px;
    background:#E6E6E6 url(ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    color:#444444;
		font-weight:normal;
  }
  a.title_link:hover{
    background:#E91C21 url(ui-bg_glass_65_499AD0_1x400.png) 50% 50% repeat-x;
    color:#fff;
  }
  input[type=submit].title_link{
    font-size:12px;
    padding:0.4em 1em;
    margin:0px !important;
    position:relative;
    text-align:center;
    border:none;
    cursor:pointer;
    background:#E6E6E6 url(ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    color:#444444;
    text-decoration:none !important;
    display:inline-block;
    overflow:visible;
  }
  input[type=submit].title_link:hover{
    background:#499AD0 url(ui-bg_glass_65_499AD0_1x400.png) 50% 50% repeat-x;
    color:#fff;
  }
}

#edit_profile_links{
  a.title_link:hover{
    background:#E91C21;
    color:#ffffff;
  }
  a.title_link.active{
    background:#E91C21 url(ui-bg_glass_65_499AD0_1x400.png) 50% 50% repeat-x;
    color:#fff;
  }
  a.title_link.active:hover{
    background:#E91C21 url(ui-bg_glass_65_499AD0_1x400.png) 50% 50% repeat-x;
    color:#fff;
  }
}

#edit_profile{
  margin-top:20px;
  .form_table{
    margin-top:0px;
    .jqfield{
      padding:10px 0 10px 10px;
      line-height:normal;
    }
  }
}

.simple_form{
  .blue_header{
    margin-bottom:30px;
  }
  .field {
    padding:15px;
    line-height:30px;
    label {
      display:block;
      float:left;
      width:250px;
      text-align:right;
      margin-right:20px;
      height:40px;
    }
    input, textarea{
      background:#ffffff;
      border:1px solid #dddddd;
      padding:10px;
      font-size:14px;
    }
    textarea{
      width:450px;
    }
    input[type=file], input[type=checkbox]{
      border:none;
      background:none;
      padding:auto;
    }
  }
  .jquery_field{
    padding:10px;
    line-height:40px;
    .form_label{
      display:block;
      float:left;
      width:150px;
      text-align:right;
      margin-right:20px;
      height:40px;
    }
  }
}

.ui-button-icon-only{
  height:20px;
  width:20px;
}

.field_with_errors {
  display: inline;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  overflow:hidden;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    margin-left:30px;
    font-size: 12px;
    list-style: square;
  }
}
#page{
	margin-top:70px;
	min-height:350px;
}
.project_show h4{
	font-size:16px;
	padding:7px;
	background-color:#cccccc;
	width:500px;
	margin:30px 0px 20px 0px;
	margin-top:30px;
}
#shadow-showcase {
    background-image: url(shadow-showcase.png);
    background-repeat: no-repeat;
    clear: both;
    height: 26px;
    width: 990px;
}
#shadow-showcase-mirror {
    background-image: url(shadow-showcase-mirror.png);
    background-repeat: no-repeat;
    clear: both;
    height: 26px;
    width: 990px;
}
#footer #copy{
    border-top: 1px solid #E0E0E0;
    float: left;
		width:1000px;
    padding: 20px;
}
#front ul {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 25px;
    padding: 0;
}
#front li {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 14px 0 0;
    padding: 0;
    width: 169px;
}
#front a{
	font-size:13px;
	color:#444444;
}

#front a:hover{
	text-decoration:underline;
}

#front{
	padding:5px 0px 5px 0px;
}
#front li li a {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
		color:#666666;
}
#page {
    background-image: url(bg-right.png);
    background-position: right center;
    background-repeat: repeat-y;
    float: left;
    width: 990px;
}

.members{
  width: 500px;
  padding-bottom: 10px;
}
form .new-member {
  padding: 10px;
  width: 500px;
  border: solid 1px gainsboro;
}
.member span.remove {
  float: right
}